extends layout
block content
    #body-overlay
        header
            section#author
                #firstName
                    | FRONTEND
                #lastName
                    | DEVELOPER
        #content-holder
    nav.menu
        header
        section#menu-list
            ul
                li
                    .menu-list-item
                        | Home
                li
                    .menu-list-item
                        | About
                li
                    .menu-list-item
                        | Experience
                li
                    .menu-list-item
                        | Contact
        footer
    #menu-button.c-hamburger.c-hamburger--htra
        span
            | toggle menu
