doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/js/jquery-2.1.4.min.js")
    script(src="/js/greensock-js/TimelineLite.min.js")
    script(src="/js/greensock-js/SplitText.min.js")
    script(src="/js/greensock-js/TweenLite.min.js")
    script(src="/js/greensock-js/TweenMax.min.js")
    script(src="/js/greensock-js/ScrambleTextPlugin.min.js")
    script(src="/js/greensock-js/EasePack.min.js")
    script(src="/js/custom.js")